.nav-bar .nav-container {
    width: 80%;
}

.nav-bar .nav-container .nav-links {
    font-size: 1.4rem;
}

.main {
    padding-top: 3.5rem;
    width: 75%;
}

.main .main-right .right-container .main-heading {
    color: navy;
    font-size: 1.5rem;
}

.did-you-know {
    display: flex;
    text-align: center;
    width: 70%;
    margin-left: 5rem;
    font-size: 1rem;
}